body {
	margin: 0%;
	padding: 0%;
	display: grid;
	grid-template-rows: 10vh 70vh 260vh 5vh;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 3vh;
}

nav {
	background-color: rgb(153, 41, 41);
	grid-row: 1;
	padding: 0%;
	margin: 0%;
}

.title {
	color: white;
	float: left;
	text-align: center;
	font-size: 150%;
	padding-left: 5vw;
	text-decoration: none;
}

ul {
	list-style-type: none;
	background-color: rgb(153, 41, 41);
}

li a:hover {
	background-color: rgb(107, 32, 32);
}

li a {
	float: right;
	font-size: 1.5vw;
	display: block;
	color: white;
	text-align: center;
	padding-right: 2vw;
	padding-left: 2vw;
	text-decoration: none;
}

.image {
	grid-row: 2;
}

.image2 {
	background-color: black;
	position: center;
	max-width: 1000vw;
	max-height: 2000vh;
}

.content {
	position: relative;
	background-color: rgb(230, 207, 172);
	grid-row: 3;
	border-top: 0.5vw solid rgb(153, 41, 41);
}

.first {
	/* background-color: darkmagenta; */
	margin-left: 7vw;
	margin-top: 3vh;
	width: 83vw;
	height: 73vh;
	display: inline-flex;
	border-bottom: 0.5vw solid rgb(153, 41, 41);
}

.left {
	/* background-color: red; */
	margin-left: 2vw;
	margin-top: 3vh;
	width: 40vw;
	height: 60vh;
	display: inline-flex;
}

.right {
	/* background-color: darkgreen; */
	width: 20%;
	text-align: left;
	width: 40vw;
	padding-top: 10vh;
	padding-left: 7vw;
	font-size: 3.5vh;
}

.story {
	font-size: 500%;
}

.hours {
	width: 35vw;
	height: 60vh;
	margin-top: 7vw;
	margin-left: 7vw;
}

.info {
	text-align: left;
	font-size: 1.5vw;
	width: 20vw;
	/* height: 20vw; */
}

th {
	text-align: center;
	padding-left: 3vw;
	font-size: 2.5vw;
}

td {
	font-size: 2vw;
	padding-left: 5vw;
	padding-top: 2vh;
}

.time {
	font-size: 20vw;
}

footer {
	background-color: rgb(153, 41, 41);
	position: fixed;
	grid-row: 4;
	left: 0;
	bottom: 0;
	width: 100%;
	/* height: 10%; */
	color: white;
	text-align: center;
}
